#home{
    .dro-container{
        padding: 2rem 0.5rem;
    }

    .main-title{
        text-align: center;
        font-size: 3.5rem;
    }

    .hearts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .heart{
            cursor : pointer;
            max-width: 100px;
            max-height: 100px;

            path{
                fill: #ff74b4;
            }

            &:nth-child(1){
                &:hover{
                    @extend .anim-pulse;
                }
            }

            &:nth-child(2){
                @extend .anim-pulse;
            }
        }
    }


    .weapon-section{
        padding-top: 4rem;

        .weapon-container{
            position: relative;

            &:hover{
                .weapon{
                    @extend .anim-retreat;
                }

                .bullet{
                    @extend .bulletTravel;
                }
            }

            .weapon{
                transform: rotate(45deg);
                max-width: 150px;
                max-height: 150px;
            }

            .bullet{
                position: absolute;
                top: 63px;
                left: 170px;
                height: 16px;
                width: 16px;
                opacity: 0;


            }
        }

    }

    .bullet{
        path{

            &:nth-child(1){
                fill : #ffc800;
            }

            &:nth-child(2){
                fill : #ff8d00;
            }

            &:nth-child(3){
                fill : #ffc800;
            }

            &:nth-child(4){
                fill : #f59e2a;
            }
        }
    }

    #text-to-appear{
        display: none;

        &.anim-bounce-in{
            display: block;
        }
    }
}


