@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60%{
        transform: scale(1.2);
        opacity: 1;
    }

    100%{
        transform: scale(1);
    }
}

.anim-bounce-in{
    animation-name: bounceIn;
    animation-duration: 1.25s;
}

@keyframes pulse {
    40%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    60%{
        transform: scale(1);
    }

    70%{
        transform: scale(1.15);
    }
}

.anim-pulse{
    animation-name: pulse;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}

@keyframes retreat {
    0%{
        transform: rotate(45deg);
    }

    30%{
        transform: rotate(40deg);
    }

    100%{
        transform: rotate(45deg);
    }
}

.anim-retreat{
    animation-name: retreat;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes bulletTravel {

    0%{
        opacity: 1;
    }

    100%{
        transform: translateX(1500px);
    }
}

.bulletTravel{
    animation-name: bulletTravel;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}