.main-title {
  color: #1ac7ff;
  text-transform: uppercase;
  font-weight: bold; }

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0; }
  60% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(1); } }
.anim-bounce-in {
  animation-name: bounceIn;
  animation-duration: 1.25s; }

@keyframes pulse {
  40% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.15); } }
.anim-pulse, #home .hearts .heart:nth-child(1):hover, #home .hearts .heart:nth-child(2) {
  animation-name: pulse;
  animation-duration: 1.25s;
  animation-iteration-count: infinite; }

@keyframes retreat {
  0% {
    transform: rotate(45deg); }
  30% {
    transform: rotate(40deg); }
  100% {
    transform: rotate(45deg); } }
.anim-retreat, #home .weapon-section .weapon-container:hover .weapon {
  animation-name: retreat;
  animation-duration: 0.3s;
  animation-iteration-count: infinite; }

@keyframes bulletTravel {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(1500px); } }
.bulletTravel, #home .weapon-section .weapon-container:hover .bullet {
  animation-name: bulletTravel;
  animation-duration: 0.3s;
  animation-iteration-count: infinite; }

html {
  font-family: sans-serif; }

.dro-container {
  max-width: 1000px;
  margin: 0 auto; }

#home .dro-container {
  padding: 2rem 0.5rem; }
#home .main-title {
  text-align: center;
  font-size: 3.5rem; }
#home .hearts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  #home .hearts .heart {
    cursor: pointer;
    max-width: 100px;
    max-height: 100px; }
    #home .hearts .heart path {
      fill: #ff74b4; }
#home .weapon-section {
  padding-top: 4rem; }
  #home .weapon-section .weapon-container {
    position: relative; }
    #home .weapon-section .weapon-container .weapon {
      transform: rotate(45deg);
      max-width: 150px;
      max-height: 150px; }
    #home .weapon-section .weapon-container .bullet {
      position: absolute;
      top: 63px;
      left: 170px;
      height: 16px;
      width: 16px;
      opacity: 0; }
#home .bullet path:nth-child(1) {
  fill: #ffc800; }
#home .bullet path:nth-child(2) {
  fill: #ff8d00; }
#home .bullet path:nth-child(3) {
  fill: #ffc800; }
#home .bullet path:nth-child(4) {
  fill: #f59e2a; }
#home #text-to-appear {
  display: none; }
  #home #text-to-appear.anim-bounce-in {
    display: block; }

/*# sourceMappingURL=style.css.map */
